@use '1-variables/variables' as *
@use '2-mixins/tools' as *
@use '2-mixins/mediaqueries' as *
@use '2-mixins/grid-mixins' as *
@use 'sass:map'

.container, .container-sm
    @each $breakpoint, $max-width in $container-max-widths
        @each $grid-breakpoint-name, $grid-breakpoint-value in $grid-breakpoints-start
            @if $breakpoint == $grid-breakpoint-name
                +min-width($grid-breakpoint-value)
                    max-width: $max-width

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl
    +make-container

.container-md
    +md-up
        max-width: map.get($container-max-widths, md)

.container-md, .container-lg
    +lg-up
        max-width: map.get($container-max-widths, lg)

.container-md, .container-lg, .container-xl
    +xl-up
        max-width: map.get($container-max-widths, xl)

.container-xxl
    +xxl-up
        max-width: map.get($container-max-widths, xxl)

.row
    +make-row

.no-gutters
    +mx(0)

.no-gutters > .col, .no-gutters > [class*="col-"]
    +px(0)

@each $breakpoint, $value in $grid-breakpoints-start
    @for $i from 1 through $grid-columns
        .col-#{$i}, .col-#{$breakpoint}-#{$i}, .col, .col-auto, .col-#{$breakpoint}, .col-#{$breakpoint}-auto
            @extend %grid-column
        
.col 
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -ms-flex-positive: 1
  flex-grow: 1
  min-width: 0
  max-width: 100%

@for $i from 1 through $grid-columns / 2
        .row-cols-#{$i} > *
            -ms-flex: 0 0 100% / $i
            flex: 0 0 100% / $i
            max-width: 100% / $i

@each $breakpoint, $value in $grid-breakpoints-start
    @for $i from 1 through $grid-columns / 2
        .row-cols-#{$breakpoint}-#{$i} > *
            @media (min-width: #{$value})
                -ms-flex: 0 0 100% / $i
                flex: 0 0 100% / $i
                max-width: 100% / $i

.col-auto
  -ms-flex: 0 0 auto
  flex: 0 0 auto
  width: auto
  max-width: 100%

@each $breakpoint, $value in $grid-breakpoints-start
    .col-#{$breakpoint}-auto
        @media (min-width: #{$value})
            -ms-flex: 0 0 auto
            flex: 0 0 auto
            width: auto
            max-width: 100%

@for $i from 1 through $grid-columns
    .col-#{$i}
        -ms-flex: 0 0 (100% / $grid-columns) * $i
        flex: 0 0 (100% / $grid-columns) * $i
        max-width: (100% / $grid-columns) * $i

@each $breakpoint, $value in $grid-breakpoints-start
    @for $i from 1 through $grid-columns
        @media (min-width: #{$value})
            .col-#{$breakpoint}-#{$i}
                -ms-flex: 0 0 (100% / $grid-columns) * $i
                flex: 0 0 (100% / $grid-columns) * $i
                max-width: (100% / $grid-columns) * $i

.order-first
  -ms-flex-order: -1
  order: -1

.order-last 
  -ms-flex-order: 13
  order: 13

.order-0
  -ms-flex-order: 0
  order: 0

@for $i from 1 through $grid-columns
    .order-#{$i}
        -ms-flex-order: $i
        order: $i

@for $i from 1 through $grid-columns - 1
    .offset-#{$i}
        margin-left: (100% / $grid-columns) * $i

@each $breakpoint, $value in $grid-breakpoints-start
    @media (min-width: #{$value})
        .order-#{$breakpoint}-first
            -ms-flex-order: -1
            order: -1
        .order-#{$breakpoint}-last 
            -ms-flex-order: 13
            order: 13
        .order-#{$breakpoint}-0 
            -ms-flex-order: 0
            order: 0
        .col-#{$breakpoint}
            -ms-flex-preferred-size: 0
            flex-basis: 0
            -ms-flex-positive: 1
            flex-grow: 1
            min-width: 0
            max-width: 100%

@each $breakpoint, $value in $grid-breakpoints-start
    @for $i from 1 through $grid-columns
        @media (min-width: #{$value})
            .order-#{$breakpoint}-#{$i}
                -ms-flex-order: $i
                order: $i

@each $breakpoint, $value in $grid-breakpoints-start
    @for $i from 1 through $grid-columns - 1
        @media (min-width: #{$value})
            .offset-#{$breakpoint}-#{$i}
                margin-left: (100% / $grid-columns) * $i

@each $breakpoint, $value in $grid-breakpoints-start
    @media (min-width: #{$value})
        .offset-#{$breakpoint}-0
            margin-left: 0


