@use 'sass:map';
@use '2-mixins/px-to-rem-convert' as *;

/*
    =========
    Responsive
    =========
*/

//GRID Breakpoints INFO

$grid-columns: 12;
$grid-gutter-width: rem(24px);

//grid-breakpoints start value
$grid-breakpoints-start: (
    sm: em(576px),
    md: em(768px),
    lg: em(992px),
    xl: em(1200px),
    xxl: em(1400px)
);
//grid breakpoints end value
$grid-breakpoints-end: (
    xs: em(575px),
    sm: em(767px),
    md: em(991px),
    lg: em(1199px),
    xl: em(1399px)
);
//max widths for grid containers
$container-max-widths: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
  xxl: rem(1320px)
);

$mobile-end: map.get($grid-breakpoints-end, xs); 
//sm
$sm-start: map.get($grid-breakpoints-start, sm);
$sm-end: map.get($grid-breakpoints-end, sm);
//md
$md-start: map.get($grid-breakpoints-start, md);
$md-end: map.get($grid-breakpoints-end, md);
//lg
$lg-start: map.get($grid-breakpoints-start, lg);
$lg-end: map.get($grid-breakpoints-end, lg);
//xl
$xl-start: map.get($grid-breakpoints-start, xl);
$xl-end: map.get($grid-breakpoints-end, xl);
//xxl
$xxl-start: map.get($grid-breakpoints-start, xxl);

/*
    =========
    Typography
    =========
*/

$vars: (
    primary-bg: #fff,
    secondary-bg: #66B933,
    tertiary-bg: #000,
    font-family: "'Roboto', sans-serif",
    fw-thin: 300,
    fw-regular: 400,
    fw-medium: 500,
    fw-semi-bold: 600,
    fw-bold: 700,
    fs-small: rem(15px),
    fs-average: rem(19px),
    fs-medium: rem(25px),
    fs-large: (
        xs: 33px,
        sm: 47px,
        md: 48px,
        xl: 49px,
        xxl: 50px
    ),
    fs-highlight: 1.3rem,
    primary-line-height: 1.5,
    small-line-height: 1,
    primary-font-color: #010100,
    secondary-font-color: #fff,
    bg-gradient-from: #222228,
    bg-gradient-to: #33333C,
    margin-bottom-primary: 1.6rem,
    button-color: #66B933,
    button-font-size: (
        xs: 1.6rem,
        sm: 1.5rem
    ),
    button-padding: 0.5em 1.5em,
    button-margin: (
        xs: 0,
        sm: 15px
    ),
);

:root {
    @each $property, $value in $vars {
        @if type-of($value) != 'map' {
            --#{$property}: #{$value};
        } @else {
            @each $map-breakpoint, $map-breakpoint-value in $value {
                @if ($map-breakpoint == 'xs') {
                    --#{$property}: #{$map-breakpoint-value};
                } @else {
                    @media (min-width: map-get($grid-breakpoints-start, #{$map-breakpoint} )) {
                        --#{$property}: #{$map-breakpoint-value};
                    }
                }
            }
        }
    }
}

/*
    =========
    Other
    =========
*/

//Spacing 

$header-padding: 30px;
$section-padded: 3rem;
$margin-bottom-primary: 1.6rem; //used in base as default for paragraphs and all headings
$margin-bottom-secondary: 1.2rem;
$margin-bottom-tertiary: 1rem;

$padding-top-primary: $margin-bottom-primary;
$padding-top-secondary: $margin-bottom-secondary;
$padding-top-tertiary: $margin-bottom-tertiary;

//Extra
$popup-box-shadow: 2px 0px 25px rgba(#9A9EA6, .6);
$aspect-ratio-box-height: 315px;
$aspect-ratio-box-width: 560px;
$aspect-ratio-box-text: 5vw;

